@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@200&family=Special+Elite&display=swap");

.navbar-brand {
  font-size: 33px !important;
}

.navbar {
  background-color: white !important;
}
.navbar-nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-nav .nav-link {
  font-family: "Special Elite", cursive;
  font-size: 20px;
}
.insta-cart {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insta-icon,
.cart-icon {
  font-size: 30px;
  text-decoration: none;
  color: black;
}
.cart-icon {
  font-size: 23px;
}

.cart-icon:hover {
  filter: drop-shadow(0 0 0.75rem rgb(217, 11, 169));
}
.insta-icon:hover {
  filter: drop-shadow(0 0 0.75rem rgb(217, 11, 169));
}
